[Desktop Entry]
Categories=Utility;System;
Comment[en_US]=GUI to edit grub configurations
Comment=GUI to edit grub configurations
Exec=/opt/grub-editor/__main__.py
GenericName[en_US]=
GenericName=
Icon=grub-editor
MimeType=
Name[en_US]=Grub Editor
Name=Grub Editor
Path=
StartupNotify=true
StartupWMClass=Grub Editor
Terminal=false
TerminalOptions=
Type=Application
X-DBUS-ServiceName=
X-DBUS-StartupType=
X-KDE-SubstituteUID=false
X-KDE-Username=
